// importing modules
@import "modules/fonts.styl"

// loading fonts
font('sourcesanspro-regular', normal, normal)
font('sourcesanspro-semibold', normal, normal)

// variables
$blue = #0D86BF

// style here
body
  color $blue
  
h1
  font-size 3rem
  padding 0.5rem
  
.please
  transform translateX(10%)
  display: flex;
  flex-direction: column;
  background: linear-gradient(red, blue);