doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Index
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- favicon
    //- Place favicon.ico in the root directory
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    //- stylesheet
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/font-awesome.css")
    link(rel="stylesheet", href="css/style.css")
    //- js
    script(src="js/lib/head/modernizr-2.8.3.js")
  body
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    h2 Hello...!
    p jQuery 2.1.4
    p normalize 3.0.3
    p font-awesome 4.4.0 
      i.fa.fa-camera-retro.fa-lg

    //- footer script
    script(src="js/lib/scripts.js")
    script(src="js/app.js")